@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
.light {
  --background-color: #FFFFFF;
  --color-text-primary: #333333;
  
  --color-btn-primary: #0F3E7A;
  --color-divider: #0F3E7A;
}

.dark {
  --background-color: #4E4E4E;
  --color-text-primary: #FFFFFF;

  --color-btn-primary: #FFD37E;
  --color-divider: #FFFFFF;
}

/* daisyui color configuration start */

.btn-primary {
  color: var(--color-btn-primary);
}

.menu {
  background: #426CA3
}

/* daisyui color configuration stop */

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --foreground-rgb: 255, 255, 255; */
/*     --background-start-rgb: 78, 78, 78; */
/*     --background-end-rgb: 78, 78, 78; */
/*   } */
/* } */

body {
  color: var(--color-text-primary);
  background: var(--background-color)
}
